<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Clock
	link(rel="stylesheet", href="css/style.min.css")
body
	.container
		div#hour.decor
		p.point :
		div#minute.decor
		p.point :
		dic.decor
			span#second
	script(src="js/first.js")