.container
	width 850px
	margin 100px auto
.decor
	display inline-block
	background linear-gradient(45deg, #aaa,#ddd,white,#fff)
	color black
	width 200px
	height 140px
	vertical-align top
	margin-left 20px
	border-radius 50%
	font-size 8em
	text-shadow 5px 3px 1px gray
	text-align center
	line-height 140px
.point
	display inline-block
	margin 0
	font-size 9em
	vertical-align top
	line-height 140px
	animation move 3s infinite cubic-bezier(0.8,1.5,.2,1)
	text-shadow 1px 1px 1px gray
.animate
	opacity 1
	animation sec 1s infinite linear
@keyframes move
	0%
		transform rotate(0deg) scale(1.2,1.2)
	25% 
		transform rotate(0deg) scale(.5,.5)
	50%	
		transform rotate(180deg) scale(1,1)
	100% 
		transform rotate(360deg) scale(.7,.7)
@keyframes sec
	0%
		opacity 1
		color black
	100%
		opacity .8
		color red