<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/style.min.css")
	script(src="js/js2almazov.js")
body
	#slider
		#container
			img.my-image(src="img/img_1.jpg", alt="")
			img.my-image(src="img/img_2.jpg", alt="")
			img.my-image(src="img/img_3.jpg", alt="")
			img.my-image(src="img/img_4.jpg", alt="")
			img.my-image(src="img/img_5.jpg", alt="")
			img.my-image(src="img/img_6.jpg", alt="")
			img.my-image(src="img/img_7.jpg", alt="")
			img.my-image(src="img/img_8.jpg", alt="")
			img.my-image(src="img/img_9.jpg", alt="")
	