html
	height 100%
body
	width 960px
	height 100%
	margin 0 auto
	border-left 1.5px solid lightgrey
	border-right 1.5px solid lightgrey
	box-shadow 0px 0px 2px 2px gray

#container
	width 7300px
	min-height 300px
	background lightgrey
	font-size 25px
	position relative
	left 0
	transition left 5s ease

#slider
	margin 0 auto
	width 780px
	height 300px
	border-radius 50%
	background yellow
	overflow hidden
	position relative
	top 200px
	transition box-shadow 2.5s ease
	box-shadow 0px 0px 0px gray

.my-image
	width auto
	height 300px
	vertical-align top


// выделение слайдов
body::selection, .my-image::selection,
.container::selection, #slide::selection
	background transparent
	color transparent