body
	background-color none
	font-size 30px
div.box
		background black
		border 75px solid transparent
		border-bottom 75px solid red
		width 0
		
	
table
	width 500
	height 400
	background purple
	border 1px solid red
	border-radius 20px
	color red
	td
		color: red
		border 1px solid black
		border-radius 20px