doctype html
html
  head
    meta
    include include/header.pug
    title Я собираю проекты как рок
    link(rel='stylesheet', href='style.min.css')
  body
      div Welcome
      head
include include/header.pug



            
