doctype html
html
	head
		meta
		title Я собираю проекты как рок
		include include/header.pug
		link(rel='stylesheet', href='css/style.min.css')
body
	table
		tr
			td hi bro
			td hi bro
			td hi bro
			td hi bro
			td hi bro
		tr
			td hi bro
			td hi bro
			td hi bro
			td hi bro
			td hi bro
		tr
			td hi bro
			td hi bro
			td hi bro
			td hi bro
			td hi bro
		tr
			td hi bro
			td hi bro
			td hi bro
			td hi bro
			td hi bro