doctype html
html
  head
    meta
    include include/header.pug
    title Я собираю проекты как рок
    link(rel='stylesheet', href='css/min_css/style.min.css')
  body
      div dskjldsjflksjdflkjdsfljdslkfj
      head
include include/header.pug



            
