doctype html
html
	head
		meta
		include include/header.pug
		link(rel='stylesheet', href='css/style.min.css')
		script(src='js/js1almazov.js')
body
	div.box.
		123
	table
		tr
			td lorem200
			td lorem200
			td lorem200
			td lorem200
			td lorem200
		tr
			td lorem200
			td lorem200
			td lorem200
			td lorem200
			td lorem200
		tr
			td lorem200
			td lorem200
			td lorem200
			td lorem200
			td lorem200
		tr
			td lorem200
			td lorem200
			td lorem200
			td lorem200
			td lorem200