doctype html
html
	head
		title.
			BOM
		meta(charset ='UTF-8')
		meta
		include include/header.pug
		link(rel='stylesheet', href='css/style.min.css')
body
	#block1
	#block2
	#block3
	script(src='js/js2almazov.js')

